# GCP Service Account credentials (server-side only)
GCP_PROJECT_ID=your-gcp-project-id
GCP_PRIVATE_KEY_ID=your-private-key-id
GCP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GCP_CLIENT_EMAIL=your-service-account@your-gcp-project.iam.gserviceaccount.com
GCP_CLIENT_ID=your-client-id

# Google Sheet
NEXT_PUBLIC_GOOGLE_SHEETS_ID=your-google-sheet-id

# Next.js runtime
PORT=8080
